* {
    margin: 0;
}
body, html {
    height: 100%;
    font-family: Arial;
    background-image: url("gifs/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-origin: border-box;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -150px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.footer, .page-wrap:after {
    height: 150px;
}
.footer {
    background-color: #292929;
    color: #ddd;
    line-height: 150px;
    text-align: center;
}
.meny {
    width: 100%;
    height: 75px;
    background-color: #7D7D7D;
    display: flex;
    z-index: 0;
}
a.menyknapp {
    flex: auto;
    text-align: center;
    display: flex;
    text-decoration: none;
}
a.menyknapp:hover {
    animation: colorchangebackground .3s linear infinite;
}
.item {
    display: flex;
    text-align: center;
    flex: auto;
}
.icon {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 12.5px;
    margin-left: 12.5px;
    display: flex;
    align-items: center;
}
.tekst {
    flex: auto;
    line-height: 75px;
    font-family: Arial;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.iconsvg {
    width: 30px;
    height: 30px;
    fill: white;
    margin: auto;
}
.innhold {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
h1#overskrift {
    font-size: 80px;
    margin-right: 0;
    margin-left: 0;
    animation: colorchange .2s infinite linear;
}
h3 {
    color: white;
}
.innlegg {
    width: 100%;
    background-color: #7D7D7D;
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 20px;
}
.innlegg h1 {
    text-align: center;
    animation: colorchange .5s infinite linear;
    margin-top: 10px;
    transition: .1s;
}
.innlegg h1:hover {
    color: crimson;
}
.bilder {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.bilder img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
}
.innlegg a {
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    .innhold {
        width: 75%;
    }
    h1#overskrift {
        font-size: 60px;
    }
    .meny {
        height: 100px;
    }
    .tekst {
        line-height: 100px;
    }
    .icon {
        margin-top: 22.5px;
    }
}

@media only screen and (max-width: 500px) {
    .icon {
        width: 30px;
        height: 30px;
        margin-top: 35px;
    }
    .iconsvg {
        width: 18px;
        line-height: 30px;
    }
    .tekst {
        font-size: 20px;
    }
}
@media only screen and (max-width: 350px) {
    h1#overskrift {
        font-size: 50px;
    }
}

@keyframes colorchange
{
    0%   {color: red;}
    10%  {color: orange;}
    20%  {color: #ffe100;}
    30%  {color: yellow;}
    40%  {color: greenyellow;}
    50%  {color: turquoise;}
    60%  {color: #2269ff;}
    70%  {color: #6800fb;}
    80%  {color: darkviolet;}
    90%  {color: mediumvioletred;}
    100% {color: red;}
}
@keyframes colorchangebackground
{
    0%   {background-color: red;}
    10%  {background-color: orange;}
    20%  {background-color: #ffe100;}
    30%  {background-color: yellow;}
    40%  {background-color: greenyellow;}
    50%  {background-color: turquoise;}
    60%  {background-color: #2269ff;}
    70%  {background-color: #6800fb;}
    80%  {background-color: darkviolet;}
    90%  {background-color: mediumvioletred;}
    100% {background-color: red;}
}